
.metadata/.lock
.metadata/.plugins/org.eclipse.m2e.logback/0.log
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
*.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
.metadata/version.ini
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.m2e.logback/logback.2.1.0.20221015-0744.xml
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.core.resources/.history/17/80d8cbaaa4c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/2c/20824dbfa1c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/39/00fd9520a2c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/30/d07c256ea2c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/3a/508445afa5c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/43/10df1603a2c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/44/301daca2a5c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/44/90185ab6a1c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/45/60a3e9a4a0c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/47/a039fd24a0c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/4c/40096958a5c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/4c/60a7fc72a2c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/51/f0c18956a5c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/65/30e72efaa1c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/6b/e0dc195ea3c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/6f/a031b62ba2c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/72/a03b0ae3a5c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/74/b0f604e4a2c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/77/40f6c2e2a1c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/76/705d3f17a5c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/83/603b3945a5c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/8b/d01d3a40a2c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/98/302ae994a5c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/a7/c086119fa4c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/a8/6007f79aa2c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/af/60b1a766a4c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/b8/305cfa8ca1c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/bb/70032084a2c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/bd/00b74c3ca2c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/bd/a0e750ada2c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/c0/7073d0a9a2c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/d5/90f17d6ba4c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/db/107fd11fa3c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/e5/c010ed47a5c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/e8/30ecf29ba5c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.history/f6/9018ed59a2c4001d141e9014d5f87023
.metadata/.plugins/org.eclipse.core.resources/.projects/FoodServiceConsumer/.indexes/e4/8d/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/FoodServiceConsumer/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/FoodServiceConsumer/.indexes/e4/bb/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/FoodServiceConsumer/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/FoodServicePublisher/.indexes/e4/bb/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/FoodServicePublisher/.indexes/f9/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/FoodServicePublisher/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/FoodServicePublisher/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1561430092.index
.metadata/.plugins/org.eclipse.jdt.core/1940964099.index
.metadata/.plugins/org.eclipse.jdt.core/2362444291.index
.metadata/.plugins/org.eclipse.jdt.core/2471258482.index
.metadata/.plugins/org.eclipse.jdt.core/2987399722.index
.metadata/.plugins/org.eclipse.jdt.core/3357491937.index
.metadata/.plugins/org.eclipse.jdt.core/4006960822.index
.metadata/.plugins/org.eclipse.jdt.core/429814729.index
.metadata/.plugins/org.eclipse.jdt.core/4250753124.index
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/5.png
.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.pde.core/.local_targets/1679042758518.target
.metadata/.plugins/org.eclipse.pde.core/.extensions/.manager/.tmp7.instance
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/FoodServiceConsumer/2023/3/11/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/FoodServiceConsumer/2023/3/11/refactorings.index
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
*.xml
